application/application/src/main/resources/example.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://example.com/service">

    <!-- 1. Types - Defines the Data Types -->
    <types>
        <xsd:schema targetNamespace="http://example.com/service">
            <xsd:element name="InputMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="value" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="OutputMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- 2. Message - Defines Messages for Operations -->
    <message name="InputMessage">
        <part name="parameters" element="tns:InputMessage"/>
    </message>

    <message name="OutputMessage">
        <part name="parameters" element="tns:OutputMessage"/>
    </message>

    <!-- 3. PortType - Describes Operations -->
    <portType name="ExamplePortType">
        <operation name="GetResponse">
            <input message="tns:InputMessage"/>
            <output message="tns:OutputMessage"/>
        </operation>
    </portType>

    <!-- 4. Binding - Specifies Protocol and Data Format -->
    <binding name="ExampleBinding" type="tns:ExamplePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetResponse">
            <soap:operation soapAction="http://example.com/service/GetResponse"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Service - Defines the Endpoint -->
    <service name="ExampleService">
        <port name="ExamplePort" binding="tns:ExampleBinding">
            <soap:address location="http://example.com/service"/>
        </port>
    </service>
</definitions>
