application/application/src/main/resources/schemas/Sample.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://new.webservice.namespace"
                  targetNamespace="http://new.webservice.namespace">
    <wsdl:types>
        <xs:schema targetNamespace="http://new.webservice.namespace">
            <xs:element name="Application" type="xs:string"/>
            <xs:element name="TestElement" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="NewMessageRequest">
        <wsdl:part name="parameter" element="tns:Application"/>
    </wsdl:message>
    <wsdl:message name="NewMessageResponse">
        <wsdl:part name="parameter" element="tns:Application"/>
    </wsdl:message>
    <wsdl:portType name="NewPortType">
        <wsdl:operation name="NewOperation">
            <wsdl:input message="tns:NewMessageRequest"/>
            <wsdl:output message="tns:NewMessageResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NewBinding" type="tns:NewPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="NewOperation">
            <soap:operation soapAction="urn:#NewOperation" name="NewOperation"/>
            <wsdl:input>
                <soap:body use="literal"><exampleRequest>Request Body Content</exampleRequest></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"><exampleResponse>Response Body Content</exampleResponse></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <!-- Add another binding with proper name/type or skip. If not needed, remove or ensure name/type is present -->
    <wsdl:binding name="AnotherBinding" type="tns:NewPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    </wsdl:binding>
    <wsdl:service name="NewService">
        <wsdl:port name="NewPort" binding="tns:NewBinding">
            <soap:address location="http://localhost:8080/NewService"/>
        </wsdl:port>
    </wsdl:service>
    <!-- Resource referencing the portType -->
    <wsdl:resource name="SampleResource" portTypeRef="NewPortType"/>
</wsdl:definitions>
